### **The dropna() method**
---

- dropna() is used to drop missing data

In [1]:
import pandas as pd
data=pd.read_csv('matches - matches.csv')

In [ ]:
data.head()
#NaN values are there in umpire columns

In [3]:
data.dropna()

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

- dropna() deletes the row having any attribute value NaN. By default how='any'
- if we set how='all' it will delete only those rows whose all attributes are NaN

In [ ]:
data.dropna(how='all')

- if we set axis=1 it delete those columns whose any element is NaN

In [7]:
data.dropna(axis=1).head(2)

,id,season,date,team1,team2,toss_winner,toss_decision,result,dl_applied,win_by_runs,win_by_wickets,venue
0,1,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,0,7,Maharashtra Cricket Association Stadium

In [9]:
data.dropna(how='all',axis=1).head(2)
#'umprire3' attribute removed

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi

- In the parameter 'subset' we will pass the columns basing on which rows will be droped

In [17]:
print(data.dropna(subset=['umpire1']).shape)
print(data.shape)

(635, 18)
(636, 18)

In [18]:
data.dropna(subset=['umpire2']).shape

(635, 18)

- subset is a union operation

In [20]:
data.dropna(subset=['umpire3','umpire2']).shape

(0, 18)