### **groupby() on IPL dataset**
---

In [2]:
import pandas as pd
delivery=pd.read_csv("deliveries.csv")
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [2]:
delivery.groupby('batsman')

In [3]:
runs=delivery.groupby('batsman')

In [ ]:
runs.get_group('V Kohli')

In [8]:
#Each row in the above code shows each ball played by Virat Kohli
# So by finding the total number of rows We can find out the total number of balls. Virat Kohli played till now
runs.get_group('V Kohli').shape
runs.get_group('V Kohli').shape[0]

3494

In [ ]:
# by using sum() On batsman runs we will get the total runs scored by each batsman
runs['batsman_runs'].sum().sort_values(ascending=False).head()

In [31]:
#Now we will find the top five batsmen who Hidden most number of fours
mask=delivery['batsman_runs']==4
new_delivery=delivery[mask]
new_delivery.shape[0]
#Prints the number of fours hitten

17033

In [27]:
mask=delivery['batsman_runs']==6
new_delivery=delivery[mask]
new_delivery.shape[0]
#Prints the number of sixes hitten

6523

In [70]:
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head()
#Prints the top 5 batsman Hitting most number of 6 and 4

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

In [2]:
#Here we will find out top three teams on which Virat Kohli has hit most number of runs in in the decade
vk=delivery[delivery['batsman']=='V Kohli']
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [3]:
#Let's make a similar function to find out the top three teams on which a particular batsman hit most of runs
def run_score(batsman_name):
    vk=delivery[delivery['batsman']==batsman_name]
    return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).index[0]

In [4]:
run_score("MS Dhoni")

'Royal Challengers Bangalore'