### **groupby():**
---

In [2]:
import pandas as pd
company=pd.read_csv('matches - matches.csv')
company.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [ ]:
sectors=company.groupby('winner')
sectors

In [ ]:
sectors.size

In [16]:
sectors.size().sort_values(ascending=False)

winner
Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
dtype: int64

In [ ]:
company.drop_duplicates(subset=['season'],keep='last')[['season','winner']].groupby('winner').first()

In [ ]:
sectors.first()

In [ ]:
sectors.groups
#company.iloc[60]

In [ ]:
sectors.get_group('Chennai Super Kings')

In [ ]:
sectors.sum()

In [51]:
sectors['win_by_runs'].mean()

winner
Chennai Super Kings            20.088608
Deccan Chargers                14.517241
Delhi Daredevils                9.209677
Gujarat Lions                   0.076923
Kings XI Punjab                12.314286
Kochi Tuskers Kerala            3.833333
Kolkata Knight Riders          11.649351
Mumbai Indians                 16.652174
Pune Warriors                  11.583333
Rajasthan Royals               13.031746
Rising Pune Supergiant         12.300000
Rising Pune Supergiants        10.600000
Royal Challengers Bangalore    16.383562
Sunrisers Hyderabad            11.333333
Name: win_by_runs, dtype: float64

In [3]:
# here we will find out top five batsmen
company.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN