### **The set_index() and reset_index()**
---

- set_index() is used to set a column as an index column instead of the default index column

In [ ]:
import pandas as pd
data=pd.read_csv("matches - matches.csv")
data.head(2)

In [ ]:
data.set_index('id',inplace=True)
#To make this operation permanent set inplace=True
data.head(2)

- reset_index() is oppostite of set_index().It brings back default index column.

In [ ]:
data.reset_index(inplace=True)
data.head(2)

In [6]:
data['winner'].value_counts().reset_index()

                          index  winner
0                Mumbai Indians      92
1           Chennai Super Kings      79
2         Kolkata Knight Riders      77
3   Royal Challengers Bangalore      73
4               Kings XI Punjab      70
5              Rajasthan Royals      63
6              Delhi Daredevils      62
7           Sunrisers Hyderabad      42
8               Deccan Chargers      29
9                 Gujarat Lions      13
10                Pune Warriors      12
11       Rising Pune Supergiant      10
12         Kochi Tuskers Kerala       6
13      Rising Pune Supergiants       5